.social {
    margin: 2rem 0;

    a {
        margin: 0 2.5rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
    }
    
    a:hover {
        text-decoration: none;
        color: #25cb68;
    }
}