@import './typography.scss';
@import './variables.scss';
@import './responsive.scss';

body {
    background-color: #000a33;
    // background-image: url(https://www.transparenttextures.com/patterns/black-felt.png);
    color: #fff;
    font-size: 1.2rem;
}

.container {
    max-width: 90%;
    height: 100%;

    &--small {
        width: 800px;
    }
    &--large {
        width: 1400px;
    }
}

h1 {
    font-size: 3.5rem;
    color: $secondary-color;
    font-family: Volkorn;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
}

.sub-heading {
    border-bottom: 3px solid;
    display: inline-block;
}
