@font-face {
    font-family: "Arvo";
    src: url('../fonts/Arvo-Regular.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "Bitter";
    src: url('../fonts/Bitter-Regular.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "NotoSans";
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "VeralaRound";
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "PTSerif";
    src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "Volkhov";
    src: url('../fonts/Volkhov-Regular.ttf') format('truetype');
    font-display: swap;
}
  
@font-face {
    font-family: "Volkorn";
    src: url('../fonts/Vollkorn-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-display: swap;
}